.clients-section {
    background-color: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-list-link {
    display: flex;
    content: " ";
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color var(--transition-function);

    &:hover,
    &:focus {
            border-color: #2196F3;
        }

}

.clients-list-icon {
    fill: #AFB1B8;
    transition: fill var(--transition-function);

    .clients-list-link:hover &,
    .clients-list-link:focus & {
            fill: #2196F3;
        }
}
