.header-portfolio {
    margin-bottom: 0;
    border: 1px solid #ECECEC;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;


}


.portfolio-list__item {
    margin-left: 0;
    margin-right: 0;

    &:not(:last-child) {
        margin-right: 8px;
        }

}


.page-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;

    margin-left: auto;
    margin-right: auto;
}

.portfolio-secondary-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;



}



.portfolio-secondary-list__item {
    display: block;
    width: 370px;
    border: 1px solid #EEEEEE;
    background: #FFFFFF;
    flex-basis: calc((100% - 60px) / 3);
    transition: box-shadow var(--transition-function);

    &:nth-child(3n) {
            margin-right: 0;
    
        }

    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }

}



.portfolio-secondary-list__link:hover .overlay,
.portfolio-secondary-list__link:focus .overlay {
    transform: translate(0, 0);
}